body{
    background:url("https://media.istockphoto.com/id/1209030907/vector/abstract-triangular-background.jpg?s=612x612&w=0&k=20&c=WL6sXFy_wr1z7Yk_lPbJ2Zhd2EjoM1eomgCN8C05Q6U=");
}
label{
    color:rgb(193, 255, 127);
}

#users{
    color:wheat;
}